@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


*{
    padding: 0px;
    margin: 0px;
   font-family:'Space Grotesk', sans-serif;
   font-size: 18px;
}
.background{
  width: 120%;
  height: 240px;
}
.background2{
  width: 0%;
  height: 0px;
}
.first_container .back_of_card{
  position: absolute;
  width:310px;
  z-index: 1;
  top: 25px;
  left: 90px;

}
.first_container .pin_display{
  position: absolute;
  color: white;
  top: 95px;
  left: 320px;
  z-index: 2;
}
.first_container .front_of_card{
  position: absolute;
  width:310px;
  z-index: 1;
  top: 123px;
  left: 20px;
}
.logo, .card_number, .card_owner, .expiry_month, .divider, .expiry_year {
  position: absolute;
  z-index: 2;
  color: hsl(0, 0%, 100%);
  font-weight: 50;
}
.logo{
  top: 140px;
  left: 50px;
  width: 55px;
}
.card_number{
  top: 210px;
  left: 50px;
  font-size: 20px;
}
.card_owner{
  top: 245px;
  left: 50px;
  font-size: 12px;
}
.expiry_month{
  top: 245px;
  left: 230px;
  font-size: 12px;
}
.divider{
  top: 245px;
  left: 245px;
  font-size: 12px;
}
.expiry_year{
  top: 245px;
  left: 250px;
  font-size: 12px;
}
.second_container{
  margin-top: 90px;
  margin-left: 20px;
}
button{
  border-radius: 8px;
  width: 360px;
  margin-left: 20px;
  margin-top: 5px;
  height:40px;
  background-color:hsl(278, 68%, 11%);
  color: white;
}
::placeholder{
  color: grey;
  opacity: 0.5;
}
.cardholder_number2, .cardholder_name {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 360px;
  height: 35px;
}
.cardholder_number2, .cardholder_name, .expiry, .cvc2 {
  border-radius: 5px;
  border: 1px solid rgb(128,128,128);

}
.flex {
  display: flex;
  gap: 5px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.flex .expiry {
  width: 90px;
  margin-right: 5px;
  height: 35px;
}
.cvc2 {
  width: 150px;
  height: 35px;
}
.expiry,.cvc2 {
  margin-top: 10px;
}
label {
  font-weight: 100px;
  font-size: 14px;
}
@media only screen and (min-width:600px) {

.background{
  width: 100%;
  height: 270px;
}
.background2{
  width: 0%;
  height: 0px;
}
.first_container .back_of_card{
  top: 50px;
  left: 150px;

}
.first_container .pin_display{
  top: 122px;
  left: 385px;
}
.first_container .front_of_card{
  top: 145px;
  left: 95px;
}
.logo{
  top: 160px;
  left: 130px;
}
.card_number{
  top: 220px;
  left: 130px;
}
.card_owner{
  top: 270px;
  left: 130px;
}
.expiry_month{
  top: 270px;
  left: 310px;
}
.divider{
  top: 270px;
  left: 325px;
}
.expiry_year{
  top: 270px;
  left: 330px;
}
.second_container{
  margin-top: 110px;
  margin-left: 90px;
}
button{
  width: 400px;
  margin-left: 90px;
  margin-top: 1px;
  height: 40px;
}
.cardholder_number2, .cardholder_name {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 40px;
}
.flex {
  gap: 8px;
  margin-left: 90px;
  margin-bottom: 40px;
}
.flex .expiry {
  width: 95px;
  margin-right: 5px;
  height: 40px;
}
.cvc2 {
  width: 185px;
  height: 40px;
}
.expiry,.cvc2 {
  margin-top: 12px;
}

}
@media only screen and (min-width:768px) {

  .background{
    width: 100%;
    height: 280px;
  }
  .background2{
    width: 0%;
    height: 0px;
  }
  .first_container .back_of_card{
    top: 60px;
    left: 270px;
  
  }
  .first_container .pin_display{
    top: 132px;
    left: 500px;
  }
  .first_container .front_of_card{
    top: 156px;
    left: 200px;
  }
  .logo{
    top: 180px;
    left: 230px;
  }
  .card_number{
    top: 250px;
    left: 230px;
  }
  .card_owner{
    top: 290px;
    left: 230px;
  }
  .expiry_month{
    top: 290px;
    left: 410px;
  }
  .divider{
    top: 290px;
    left: 425px;
  }
  .expiry_year{
    top: 290px;
    left: 430px;
  }
  .second_container{
    margin-top: 120px;
    margin-left: 190px;
  }
  button{
    width: 400px;
    margin-left: 190px;
    margin-top: 3px;
    height: 45px;
  }
  .cardholder_number2, .cardholder_name {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 400px;
    height: 45px;
  }
  .flex {
    gap: 8px;
    margin-left: 190px;
    margin-bottom: 40px;
  }
  .flex .expiry {
    width: 95px;
    margin-right: 5px;
    height: 45px;
  }
  .cvc2 {
    width: 185px;
    height: 45px;
  }
  .expiry,.cvc2 {
    margin-top: 12px;
  }
  
  }
  
  @media only screen and (min-width:992px){
    .background{
      display: none;
    }
    .background2{
      height: 100vh;
      width: 300px;
      
    }
    body{
      position: relative;
      display: flex;
      align-items: center;
    }
    .first_container .back_of_card{
      position: absolute;
      width:350px;
      z-index: 1;
      top: 420px;
      left: 140px;
    
    }
    .first_container .pin_display{
      position: absolute;
      color:black;
      top: 505px;
      left: 410px;
      z-index: 2;
    }
    .first_container .front_of_card{
      position: absolute;
      width:350px;
      z-index: 1;
      top: 200px;
      left: 80px;
    }
    .logo, .card_number, .card_owner, .expiry_month, .divider, .expiry_year {
      position: absolute;
      z-index: 2;
      color: hsl(0, 0%, 100%);
      font-weight: 50;
    }
    .logo{
      top: 220px;
      left: 120px;
      width: 65px;
    }
    .card_number{
      top: 310px;
      left: 120px;
      font-size: 22px;
    }
    .card_owner{
      top: 350px;
      left: 120px;
      font-size: 12px;
    }
    .expiry_month{
      top: 350px;
      left: 320px;
      font-size: 12px;
    }
    .divider{
      top: 350px;
      left: 335px;
      font-size: 12px;
    }
    .expiry_year{
      top: 350px;
      left: 340px;
      font-size: 12px;
    }
    .second_container{
      margin-top: 0px;
      margin-left: 220px;

    }
    button{
      border-radius: 8px;
      width: 360px;
      margin-left: 220px;
      margin-top: 5px;
      height:40px;
    }
    .cardholder_number2, .cardholder_name {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 360px;
      height: 35px;
    }
    
    .flex {
      display: flex;
      gap: 5px;
      margin-left: 220px;
      margin-bottom: 40px;
    }
    .flex .expiry {
      width: 90px;
      margin-right: 5px;
      height: 35px;
    }
    .cvc2 {
      width: 158px;
      height: 35px;
    }
    .expiry,.cvc2 {
      margin-top: 10px;
    }
  }
  @media only screen and (min-width:1440px){
    .background{
      display: none;
    }
    .background2{
      height: 100vh;
      width: 500px;
      
    }
    body{
      position: relative;
      display: flex;
      
    }
    .first_container .back_of_card{
      position: absolute;
      width:360px;
      z-index: 1;
      top: 420px;
      left: 310px;
    
    }
    .first_container .pin_display{
      position: absolute;
      color:white;
      top: 508px;
      left: 580px;
      z-index: 2;
    }
    .first_container .front_of_card{
      position: absolute;
      width:360px;
      z-index: 1;
      top: 200px;
      left: 240px;
    }
    .logo{
      top: 220px;
      left: 270px;
      width: 65px;
    }
    .card_number{
      top: 300px;
      left: 270px;
      font-size: 24px;
  
    }
    .card_owner{
      top: 350px;
      left: 270px;
      font-size: 12px;
    }
    .expiry_month{
      top: 350px;
      left: 500px;
      font-size: 12px;
    }
    .divider{
      top: 350px;
      left: 515px;
      font-size: 12px;
    }
    .expiry_year{
      top: 350px;
      left: 520px;
      font-size: 12px;
    }
    .second_container{
      margin-top: 0px;
      margin-left: 300px;

    }
    button{
      border-radius: 8px;
      width: 360px;
      margin-left: 300px;
      margin-top: 5px;
      height:40px;
    }
    .cardholder_number2, .cardholder_name {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 360px;
      height: 35px;
    }
    
    .flex {
      display: flex;
      gap: 5px;
      margin-left: 300px;
      margin-bottom: 40px;
    }
    .flex .expiry {
      width: 90px;
      margin-right: 5px;
      height: 35px;
    }
    .cvc2 {
      width: 158px;
      height: 35px;
    }
    .expiry,.cvc2 {
      margin-top: 10px;
    }